
body 

.container {


}
.content {
  display:flex;

}

.links {

   display:flex;
   flex-direction:column;

   padding: 10px;
   white-space:normal
   justify-content:space-around;
   background-color: grey;   /* grå bakgrund med en grå border där bottom och top */
   border-color:black;        /*  border inte syns */
   border-style:groove;
   border-bottom-style:none;
   border-top-style:none;


}

.vanster {

  text-align: center;
background-color:#333333;
  padding: 10px;
  flex-basis:95%;



}

.hoger {
  background-color: grey;
  border-color:black;
  border-style:groove;
  border-bottom-style:none;
  border-top-style:none;
  padding:10px;
  flex-basis:5%;

}
.a {
  font-family: 'Special Elite', cursive;

 border-style:dotted;
margin:10px;

}

.b {
  font-family: VT323, monospace;

 border-style:dotted;
margin:10px;
}
.c {
  font-family: Srisakdi, cursive;

 border-style:dotted;
margin:10px;
}
.a,.b,.c {
  background-color:#990000;
  border-color:white;
  border-radius:50px;
  border-style:ridge;
}
header,footer {
  padding:20px;
  display:flex;
  background-color: #a6a6a6;
  justify-content: space-between;

  border-color:black;
  border-style:groove;
  flex-direction:row;

}




@media only screen and (max-width: 800px) {
.content {
  flex-direction: column;

    }
}

.meny {

  display:block;


background-color: #a6a6a6;

}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius:20px;
}
.dropbtn {
  color: black;
  padding: 16px;
  font-size: 16px;
  border-style:ridge;
  border-color:black;
  background-color: #a6a6a6;
  border-radius:20px;
}
.dropdown-content a {

  color: black;
 padding: 12px 16px;
 text-decoration: none;
 display: block;
 border-radius:20px;
}
.meny:hover .dropdown-content {display: block;}
