body {

  margin: auto;
  background-image: url(https://i.ytimg.com/an_webp/oV7YT9h_dkk/mqdefault_6s.webp?du=3000&sqp=CIK9g90F&rs=AOn4CLC5E1VR0AOD3RRwErmCycgiOIJZZA);
 border-radius;
 width: 1080px;
 height:1980px;
}

h1 {
  width: 1200px;
  height:200px;
  background-color: cyan;
  color;

}
.gul {
background-color:green;
color: white;

}
#unikt {
  color:green;
}
