.content {
  position:relative;
  display:flex;
flex-direction:row;




}


body {
  padding:0px;
  margin:0px;
}
footer,header {
  align-items: center;
  padding:10px;
  display:flex;
  justify-content: flex-start;
  flex-direction:row;

  border-color:black;
  border-style:groove;
  background-color: #a6a6a6;

  margin-left:0px;
  margin-right:0px;

}

header h2 {
transform: translateX(50vw);
background-color:red;
}


.info-links {
  justify-content: center;
  display:flex;
  flex-direction:column;

  flex:1 1 70%;

  background-color:#333333;

}
.a,.b,.c,.d {
    padding:10px;
    margin:10px;
    background-color:orange;
    border-color:white;
    border-radius:50px;
    border-style:ridge;
    font-family: 'Special Elite', cursive;
    text-align:center;

}

.hoger {
  justify-content: center;
  display:flex;
  flex-direction:row;

  flex:1 1 40%;
  background-color:#333333;

}

.hoger-ram,.vanster-ram,.mitten-ram{
display:flex;
flex-direction:row;
background-color: #a6a6a6;
flex: 1 1 1%;
border-color:black;
border-style:groove;
border-top:0px;
border-bottom:0px;
}
.active {
  position:absolute;
  display:block;
  background:#fff;
  width:20%;
  left:0;
  top:0;
  height:100%;
  border-color:black;
  border-style:groove;
  border-top:none;
}
ul {
 list-style-type:none;
 margin:0;
 padding:0;
}
ul li a  {
  text-decoration:none;
  text-transform:uppercase;
  font-size: 1em;
  display:block;
  padding:3em;
  background:rgba(255,255,255,0.35);
  color:black;
}
img {

  width:70px;
  height:70px;
}
