body, html{
    background-color:whitesmoke;
    height:100%;
    margin:0;
 background-image: url(images/4k-futuristic-wallpaper-1.jpg);
 background-position:center;
 background-repeat:no-repeat;
 background-size:cover;
}
.container{
    display:flex;
    flex-direction:column;
}
.menu{
    display:flex;
    flex-direction:row;
    
    justify-content:center;
    
    color:white;
    
    
    text-align:center;
    
    
}

.information {
    display:flex;
    flex-direction:column;
    background-color:seagreen;
    width:50%;
    justify-content:center;
    text-align:center;
    margin:20px;
    
    border-radius:20px;
    border-style:solid;
    border-color:gray;
}
.container2 {
    display:flex;
    flex-direction:row;
}
.lada1,.lada2,.lada3 {
    display:flex;
    flex-direction:row;
    margin:30px;
    padding:10px;
    background-color:#4d4d4d;
    flex-grow:1;
    justify-content:center;
    text-align:center;
    border-style:solid;
    border-color:gray;
    border-radius:20px;
}

footer {
    position:absolute;
    
    bottom:0px;
    left:0px;
    right:0px;
    text-align:center;
    padding:20px;
    color:white;
}

